<mat-toolbar class="app-title">Cadastrar Filme</mat-toolbar>
<div class="main-div">
  <mat-card class="center width50">
    <form
      autocomplete="off"
      novalidate
      [formGroup]="cadastroFilme"
      (ngSubmit)="submit()"
      (ngReset)="reiniciarForm()"
    >
      <mat-card-content>
        <mas-input-text
          titulo="Título *"
          [formGroup]="cadastroFilme"
          controlName="titulo"
        ></mas-input-text>

        <mas-input-text
          titulo="Link Foto"
          [formGroup]="cadastroFilme"
          controlName="urlFoto"
        ></mas-input-text>

        <mas-input-date
          titulo="Data de Lançamento *"
          [formGroup]="cadastroFilme"
          controlName="dataLancamento"
        ></mas-input-date>

        <mas-input-textarea
          titulo="Descrição"
          [formGroup]="cadastroFilme"
          controlName="descricao"
        ></mas-input-textarea>

        <mas-input-number
          titulo="Nota IMDB *"
          [formGroup]="cadastroFilme"
          controlName="notaIMDb"
          step="0.1"
        ></mas-input-number>

        <mas-input-text
          titulo="Link IMDB"
          [formGroup]="cadastroFilme"
          controlName="urlIMDb"
        ></mas-input-text>
        <mas-input-select
          titulo="Gênero *"
          [formGroup]="cadastroFilme"
          controlName="genero"
          [opcoes]="generoFilme"
        >
        </mas-input-select>
      </mat-card-content>
      <mat-card-actions>
        <button type="submit" color="accent" mat-raised-button>Salvar</button>
        <button type="reset" color="warn" mat-raised-button>Cancelar</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
